body {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: auto;
    background-image: url("./assets/birthdayimage3.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    font-family: 'Gill Sans';
    font-family: 'Raleway', sans-serif;
}

#main {
    background: rgba(255, 255, 255, 0.651);
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 8px;
}

button {
    background: rgb(98, 98, 211);
    color: white;
    border-radius: 8px;
    border: rgb(98, 98, 211);
    height: 30px;
    width: 105px;
    font-size: 20px;
    text-align: center;
}