body {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: auto;
    background-image: url("./assets/birthdayimage3.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    font-family: 'Gill Sans';
    font-family: 'Raleway', sans-serif;
}

#main {
    background: rgba(255, 255, 255, 0.377);
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 8px;

}

button {
    background: rgb(98, 98, 211);
    color: white;
    border-radius: 8px;
    border: rgb(98, 98, 211);
    height: 50px;
    width: 105px;
    font-size: 20px;
    text-align: center;

}

button:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    background-color: green;
}

#gifSpace {
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.651);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-self: auto;
}

img {
    margin: 10px;
}

#gdad {
    background: rgba(255, 255, 255, 0.377);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 8px;
    color: white;
    padding-top: 10px;
    margin-top: 10px;
}

.gdadPics {

    height: 400px;
    width: 550px;
    margin: 10px;
    border-radius: 8px;
}

.gdadPics1 {
    height: 500px;
    width: 450px;
    margin: 10px;
    border-radius: 8px;
}

.gdadPics2{
    height: 460px;
    width: 510px;
    margin: 10px;
    border-radius: 8px;
}

.side {
    display: inline-block;
    margin: 5px;
}